{% extends "base.html" %}
    {% block title %} PyPassword {% endblock %}

    {% block page %}
        <div class="div-home">
            <h1 class="home-title"> PyPassword</h1>
            <h2> Suas senhas seguras em qualquer lugar!</h2>
            <h3>- Salve suas senhas na nuvem e acesse de onde quiser </h3>
            <h3>- Senhas geradas randomicamente para facilitar sua vida</h3>
            <h3> Powered by keeppass </h3>
            <br>
            <button class="register-btn" onclick="window.location.href='/users/login'"> Cadastrar </button>
        </div>
    <img  class="locke" src="https://imgs.search.brave.com/aOrUAJeHdlNHb_ZANcSV157RctoQWfCLozhnrri4SHs/rs:fit:1200:1200:1/g:ce/aHR0cHM6Ly9zdGF0/aWMudmVjdGVlenku/Y29tL3N5c3RlbS9y/ZXNvdXJjZXMvcHJl/dmlld3MvMDAwLzU4/MS84MDgvb3JpZ2lu/YWwvbG9jay1pY29u/LXZlY3Rvci1pbGx1/c3RyYXRpb24uanBn">

    {% endblock %}